header {
  position: relative;
  width: 100%;
  background-color: #eee;
  border: 1px solid transparent;
}

.inputForm {
  /* display: flex; */
  position: relative;
  width: 46%;
  height: 100%;
  margin: 0 auto;
  white-space: nowrap;
}

.city-input {
  display: inline-block;
  width: 85%;
  border-radius: 25px;
  border: 0;
  padding: 5px;
  margin: 7px 15px;
  text-align: center;
}

#currentDetails-container-top{
  width: 100%;
  line-height: 40px;
  padding: 0 20px;
  background-color: rgba(238,238,238,.35);
  overflow: hidden;
}

#currentDetails {
  position: relative;
  text-align: center;
  left: -10px;
  white-space: nowrap;
  font-size: 14px;
  margin: 0 auto;
  max-width: 750px;
}

#currentDetails>div{
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

.wind {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

.label {
  display: inline-block;
  text-align: right;
  font-weight: 500;
  margin: 0 4px;
}

.value {
  display: inline-block;
  text-align: left;
  font-weight: 300;
}

.line-time {
  display: flex;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}

.partly-cloudy {
  background-color: #d5dae2;
}

.clear {
  background-color: #eeeef5;
}

.mostly-cloudy {
  background-color: #b6bfcb;
}

.light-rain {
  background-color: #80a5d6;
}

.overcast {
  background-color: #878f9a;
}

.rain {
  background-color: #4a80c7;
}

.container-nextHours{
  display: flex;
  width: 1500px;
  flex-direction: column;
  padding: 0;
}

.container-summary span {
  display: table-cell;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 40px;
}

.container-hours {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hours-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position-hour{
  width: 1px;
  height: 7px;
  background: black;
}

.separator-hours{
  width: 0.5px;
  height: 15px;
  background: grey;
}

.hours-item-hour{
  font-size: 10px;
  font-weight: 500;
}

.hours-item-temperature{
  color: #878f9a;
  font-size: 13px;
}

.currentDetails-container-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.currentDetails-mostImportant-container{
  display: flex;
}

.currentDetails-mostImportant-container img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.currentDetails-mostImportant-title span{
  font-size: 32px;
  font-weight: 600;
  text-align: left;
}

.currentDetails-mostImportant-subtitle span{
  margin-right: 15px;
}

.currentDetails-next {
  font-size: 28px;
  font-weight: 300;
  margin-top: 30px;
}